!!!
%html
  %head
    %title Backbone Hangman
    %meta{:name => "description", :content => "A simple application that demonstrates usage of Backbone JS"}
    %meta{:name => "author", :content => "Tri Vuong"}
    - ["http://fonts.googleapis.com/css?family=Montserrat", "/css/hangman.css"].each do |file|
      %link{:charset => "utf-8", :href => file, :media => "screen", :rel => "stylesheet", :type => "text/css"}

    - ["/javascript/jquery.js", "/javascript/underscore.js", "/javascript/backbone.js", "/javascript/handlebars.js", "/javascript/models/game.js",
      "/javascript/views/optionsView.js", "/javascript/views/charactersView.js", "/javascript/views/wordView.js", "/javascript/views/hangmanView.js", "/javascript/views/answerView.js",
      "/javascript/views/stageView.js", "/javascript/hangman.js"].each do |file|
      %script{:type => "text/javascript", :src => file}
      
  %body
    
    #stage
      = haml :west
      = haml :east
    
    = haml :footer
            
    = erb :templates