<script id="word_template" type="text/x-handlebars">
  {{#each characters}}
    {{displayCharacter}}
  {{/each}}
</script>

<script id="character_template" type="text/x-handlebars">
  {{#each characters}}
    <span class="character" char="{{this}}">{{this}}</span>
  {{/each}}
</script>