<script id="word_template" type="text/x-handlebars">
  {{#each characters}}
    {{displayCharacter}}
  {{/each}}
</script>

<script id="character_template" type="text/x-handlebars">
  {{#each characters}}
    <span class="action_button character" char="{{this}}">{{this}}</span>
  {{/each}}
</script>

<script id="head_template" type="text/x-handlebars">
    <circle cx="200" cy="45" r="12" stroke="black" stroke-width="5" fill="#fff" />
</script>

<script id="body_template" type="text/x-handlebars">
    <rect x="198" y="58" width="5" height="110" style="fill:black;stroke-width:1;stroke:rgb(0,0,0)" />
</script>

<script id="right_hand_template" type="text/x-handlebars">
    <rect x="220" y="58" width="5" height="50" style="fill:black;stroke-width:1;stroke:rgb(0,0,0);" transform="rotate(-45 210 86)" />
</script>

<script id="left_hand_template" type="text/x-handlebars">
    <rect x="220" y="58" width="5" height="50" style="fill:black;stroke-width:1;stroke:rgb(0,0,0);" transform="rotate(45 210 31)" />
</script>

<script id="right_leg_template" type="text/x-handlebars">
    <rect x="220" y="58" width="5" height="50" style="fill:black;stroke-width:1;stroke:rgb(0,0,0);" transform="rotate(-45 342 139)" />
</script>

<script id="left_leg_template" type="text/x-handlebars">
    <rect x="220" y="58" width="5" height="50" style="fill:black;stroke-width:1;stroke:rgb(0,0,0);" transform="rotate(45 83 87)" />
</script>