#west    
  #ground
    #string
    #hangman
      %img{:src => "/images/head.png", :id => :head}
      %img{:src => "/images/body.png", :id => :body}
      %img{:src => "/images/right_arm.png", :id => :right_arm}
      %img{:src => "/images/left_arm.png", :id => :left_arm}
      %img{:src => "images/right_leg.png", :id => :right_leg}
      %img{:src => "images/left_leg.png", :id => :left_leg}