#west
  #options
    %input{:type => :button, :class => :action_button, :value => "New game", :id => :new_game}
    
  #ground
    #pole
    #pole_drop
    #head
    #body
    #right_hand
    #left_hand
    #right_leg
    #left_leg
  