* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background: #404040;
  font-family: Montserrat, Arial;
  font-size: 12px;
  color: #fff;
  height: 100%; }

.action_button {
  background: #555;
  padding: 5px 13px;
  border: 1px solid #f67b0e;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-family: inherit;
  border-radius: 5px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  box-shadow: 0 1px 0 0 #999 inset;
  height: 30px;
  line-height: 30px; }
  .action_button:hover {
    background-color: #444;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
  .action_button:active {
    position: relative;
    top: 1px; }

#forkme {
  position: absolute;
  top: 0;
  right: 0; }

#stage {
  overflow: hidden; }

#west {
  width: 400px; }
  #west #ground {
    height: 400px;
    position: relative; }
  #west #hangman {
    position: relative;
    top: 70px; }
  #west #string {
    height: 100px;
    position: absolute;
    left: 50%;
    visibility: hidden;
    border-right: 1px dashed #fff; }
  #west #head {
    position: absolute;
    left: 50%;
    top: 30px;
    margin-left: -17px;
    visibility: hidden; }
  #west #body, #west #right_arm, #west #left_arm, #west #right_leg, #west #left_leg {
    position: absolute;
    visibility: hidden; }
  #west #body {
    top: 65px;
    left: 50%;
    margin-left: -23px;
    border-radius: 6px; }
  #west #right_arm {
    top: 65px;
    left: 201px; }
  #west #left_arm {
    top: 65px;
    left: 157px; }
  #west #right_leg {
    top: 131px;
    left: 202px; }
  #west #left_leg {
    top: 131px;
    left: 177px; }

#east {
  position: absolute;
  left: 400px;
  right: 200px;
  top: 20px; }
  #east #hint {
    display: none;
    color: #fff;
    margin-bottom: 60px; }
  #east #word .placeholder {
    font-size: 20px;
    display: inline-block;
    border-bottom: 3px solid #fff;
    width: 37px;
    margin-right: 4px;
    text-align: center; }
  #east #word .spacer {
    display: inline-block;
    width: 20px;
    height: 1px; }
  #east #characters {
    display: none;
    margin-top: 50px; }
    #east #characters span {
      background: #93be4f;
      padding: 2px 8px;
      height: 30px;
      width: 30px;
      line-height: 30px;
      display: inline-block;
      cursor: pointer;
      font-size: 16px;
      border-radius: 3px;
      color: #fff;
      width: 21px;
      text-align: center;
      margin: 0 1px 5px 0; }
    #east #characters .disabled {
      background: #777 !important;
      cursor: auto; }
  #east #answer {
    display: none;
    color: #fff;
    font-size: 15px;
    margin-top: 30px; }

#footer {
  background: #fff;
  border-top: 1px solid #333;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  overflow: hidden;
  line-height: 30px; }
  #footer a {
    color: #f98d00;
    text-decoration: none;
    outline-style: none; }
  #footer #options {
    float: left; }
  #footer #info {
    color: #444;
    float: right;
    font-size: 18px;
    letter-spacing: -1px; }
