* { margin:0; padding:0 }

body {
  background:#eee;
  font-family:Arial;
  font-size:15px;
  color:#444;
}

.action_button {
  background:#0C8DFF; padding:5px 13px; 
  border:1px solid #f67b0e; 
  border:1px solid rgba(0,0,0,.4); color:#fff; cursor:pointer; 
  text-shadow:1px 1px 0 rgba(0,0,0,.3); 
  font-family:inherit;
  font-weight:bold;
  border-radius:5px;
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
  background-image: -webkit-gradient(linear, left top,left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,.2)));
  background-image: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
  box-shadow:0 1px 0 0 #9BD3FF inset; 
  height:30px;
  line-height:30px;
  &:hover { background-color:#0a90d5;color:#fff; -webkit-transition:none;-moz-transition:none;transition:none }
  &:active { 
    position:relative;top:1px;
  }
}

#stage {
  padding:20px;
  overflow:hidden;
}

#west {
  float:left;
  width:40%;
  
  #options {
    margin-bottom:20px;
  }
  
  #ground {
    position:relative;
  }
  
  #pole {
    border-left:9px solid #111;
    border-top:9px solid #111;
    width:200px;
    height:370px;
    margin-top:100px;
    margin-left:100px;
  }
  
  #pole_drop {
    position:absolute;
    top:9px;
    left:300px;
    height:30px;
    width:9px;
    background:#111;
  }
  
  #head {
    border:9px solid #111;
    border-radius:20px;
    width:20px;
    height:20px;
    position:absolute;
    left:285px;
    top:30px;
    visibility:hidden;
  }
  
  #body, #right_hand, #left_hand, #right_leg, #left_leg {
    visibility:hidden;
    width:9px;
    background:#111;
    position:absolute;
  }
  
  #body {
    height:130px;
    top:60px;
    left:300px;
  }
  
  #right_hand {
    height:70px;
    top:80px;
    left:312px;
    -moz-transform:rotate(-20deg)
  }
  
  #left_hand {
    height:70px;
    top:80px;
    left:288px;
    -moz-transform:rotate(20deg)
  }
  
  #right_leg {
    height:90px;
    top:185px;
    left:315px;
    -moz-transform:rotate(-20deg)
  }
  
  #left_leg {
    height:90px;
    top:185px;
    left:285px;
    -moz-transform:rotate(20deg)
  }
}

#east {
  float:right;
  width:60%;
  
  #hint {
    display:none;
    span {
      background: #7aba2f;
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
      background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
      border-radius: 3px;
      box-shadow: 0 1px 0 0 #c2e080 inset;
      font-size: 14px;
      line-height: 11px;
      color: #fff;
      padding: 8px;
      margin-bottom:20px;
      border: 1px solid #4f7107;
      display:inline-block;
    }
  }
  
  #word {
    background:#fff;
    margin:0 0 30px;
    font-size:35px;
    font-weight:bold;
    text-align:center;
    box-shadow:0 3px 7px -4px #aaa;
    padding:16px;
    border-radius:10px;
    color:#999;
    
    .placeholder {
      display:inline-block;
      border-bottom:5px solid #999;
      width:43px;
    }
    
    .spacer {
      display:inline-block;
      width:20px;
      height:1px;
    }
  }
  
  #characters {
    display:none;
    background:#fff;
    padding:16px;
    border-radius:10px;
    box-shadow:0 3px 7px -4px #aaa;
    margin-bottom:30px;
    span {
      display:inline-block;
      font-size:20px;
      border-radius:3px;
      color:#fff;
      width:21px;
      text-align:center;
      margin:-1px -1px 4px 0;
    }
  }
  
  #answer {
    display:none;
    padding:16px;
    background:#fff;
    border-radius:10px;
    box-shadow:0 3px 7px -4px #aaa;
    color:#999;
    font-size:15px;
    font-weight:bold;
  }
}