* {
  margin: 0;
  padding: 0; }

body {
  background: #eee;
  font-family: Arial;
  font-size: 15px;
  color: #444; }

.action_button {
  background: #0C8DFF;
  padding: 5px 13px;
  border: 1px solid #f67b0e;
  border: 1px solid rgba(0, 0, 0, 0.4);
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  font-family: inherit;
  font-weight: bold;
  border-radius: 5px;
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  box-shadow: 0 1px 0 0 #9BD3FF inset;
  height: 30px;
  line-height: 30px; }
  .action_button:hover {
    background-color: #0a90d5;
    color: #fff;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none; }
  .action_button:active {
    position: relative;
    top: 1px; }

#stage {
  padding: 20px;
  overflow: hidden; }

#west {
  float: left;
  width: 40%; }

#east {
  float: right;
  width: 60%; }
  #east #pole {
    width: 100%;
    height: 400px;
    margin-bottom: 30px; }
  #east #word {
    background: #fff;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 3px 7px -4px #aaaaaa;
    padding: 16px;
    border-radius: 10px;
    color: #999; }
    #east #word .placeholder {
      display: inline-block;
      border-bottom: 5px solid #999;
      width: 43px; }
    #east #word .spacer {
      display: inline-block;
      width: 20px;
      height: 1px; }
  #east #characters {
    display: none;
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 3px 7px -4px #aaaaaa; }
    #east #characters span {
      display: inline-block;
      font-size: 20px;
      border-radius: 3px;
      color: #fff;
      width: 21px;
      text-align: center;
      margin: -1px -1px 4px 0; }
